/* color references:

Parchment: #FAF5EF
specific black: #050501

pacific cyan: #0487A5

spicy paprika: #E1662C

end */

#chat-box-container {
  /* width: fit-content; */
  max-width: 80%;
  min-width: 80%;
  height: 80%;

  /* padding-left: 1%;
  padding-right: 1%; */

  overflow: auto;
  outline: 2px dashed red;
}

#chat-box-container::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

#chat-box-container::-webkit-scrollbar-track {
  background: #fba780;
  border-radius: 10px;
}

#chat-box-container::-webkit-scrollbar-thumb {
  background: #e1662c;
  border-radius: 10px;
}

#chat-box-container::-webkit-scrollbar-thumb:hover {
  background: #652e14;
}

.biyae-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  /* outline: 2px solid #E1662C; */
  padding: 2%;
}
.user-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10px;
  outline: 2px solid #0487a5;
  padding: 2%;
  border-radius: 20px 20px 0px 20px;
  background-color: #37a6be;
  color: #faf5ef;
}

#text-input {
  margin-top: 30px;
  outline: 2px solid rgb(128, 128, 0);
  width: 80%;
}

#text-input textarea {
  box-sizing: border-box;
  width: 100%;
  background-color: #faf5ef;
  border: none;
}
