#chat-box-container {
  width: fit-content;
  max-width: 95%;
  height: 95%;

  overflow: auto;
  outline: 2px dashed red;
}

.biyae-box {
  outline: 2px solid blue;
}
.user-box {
  outline: 2px solid green;
}
