html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#overall {
  height: 100vh;
  overflow: hidden;
}

#root {
  background-color: #faf5ef;
  color: #050501;

  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
